<br />
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Edit Customer Info</h1>
  <br  />
  <%= simple_form_for @customer do |f| %>
  <%= f.input :name, label: 'Name' %>
  <%= f.input :customercode, label: 'Customer Code'  %>
  <%= f.input :address %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :zipcode, label: 'Zip' %>
  <br  />
  <%= f.submit "Submit", class: 'btn btn-primary' %>
  <% end %>
</div>
